## <summary>
##	worker policy module
## </summary>

########################################
## <summary>
##	Read worker files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`worker_read_files',`
	gen_require(`
		type worker_opt_worker_bin_worker_t;
		type worker_var_cache_worker_t;
		type worker_var_run_worker_sock_t;
	')

	allow $1 worker_var_run_worker_sock_t:file read_file_perms;
	allow $1 worker_opt_worker_bin_worker_t:file read_file_perms;
	allow $1 worker_var_cache_worker_t:file read_file_perms;
')

########################################
## <summary>
##	Write worker files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`worker_write_files',`
	gen_require(`
		type worker_var_cache_worker_t;
		type worker_var_run_worker_sock_t;
	')

	allow $1 worker_var_cache_worker_t:file write_file_perms;
	allow $1 worker_var_run_worker_sock_t:file write_file_perms;
')

########################################
## <summary>
##	Execute worker files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`worker_exec',`
	gen_require(`
		type worker_opt_worker_bin_worker_t;
	')

	can_exec($1, worker_opt_worker_bin_worker_t)
')

