## <summary>
##	webserver policy module
## </summary>

########################################
## <summary>
##	Read webserver files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`webserver_read_files',`
	gen_require(`
		type webserver_lib64_t;
		type webserver_usr_lib64_t;
		type webserver_var_www_cgi_bin_t;
		type webserver_var_www_html_t;
		type webserver_var_www_t;
		type webserver_etc_httpd_t;
		type webserver_etc_pki_tls_private_t;
		type webserver_etc_httpd_conf_t;
		type webserver_etc_pki_tls_certs_t;
		type webserver_var_log_httpd_t;
		type webserver_var_run_httpd_t;
		type tcp_socket_t;
		type udp_socket_t;
	')

	allow $1 tcp_socket_t:file read_file_perms;
	allow $1 udp_socket_t:file read_file_perms;
	allow $1 webserver_etc_httpd_conf_t:file read_file_perms;
	allow $1 webserver_etc_pki_tls_certs_t:file read_file_perms;
	allow $1 webserver_var_log_httpd_t:file read_file_perms;
	allow $1 webserver_var_run_httpd_t:file read_file_perms;
	allow $1 webserver_var_www_t:file read_file_perms;
	allow $1 webserver_etc_httpd_t:file read_file_perms;
	allow $1 webserver_etc_pki_tls_private_t:file read_file_perms;
	allow $1 webserver_lib64_t:file read_file_perms;
	allow $1 webserver_usr_lib64_t:file read_file_perms;
	allow $1 webserver_var_www_cgi_bin_t:file read_file_perms;
	allow $1 webserver_var_www_html_t:file read_file_perms;
')

########################################
## <summary>
##	Write webserver files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`webserver_write_files',`
	gen_require(`
		type webserver_var_log_httpd_t;
		type webserver_var_run_httpd_t;
		type tcp_socket_t;
		type udp_socket_t;
	')

	allow $1 tcp_socket_t:file write_file_perms;
	allow $1 udp_socket_t:file write_file_perms;
	allow $1 webserver_var_log_httpd_t:file write_file_perms;
	allow $1 webserver_var_run_httpd_t:file write_file_perms;
')

########################################
## <summary>
##	Execute webserver files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`webserver_exec',`
	gen_require(`
		type webserver_var_www_cgi_bin_t;
	')

	can_exec($1, webserver_var_www_cgi_bin_t)
')

