## <summary>
##	mydb policy module
## </summary>

########################################
## <summary>
##	Read mydb files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mydb_read_files',`
	gen_require(`
		type mydb_var_lib_mydb_t;
		type mydb_var_log_mydb_t;
		type mydb_var_run_mydb_sock_t;
		type mydb_usr_lib_mydb_bin_mydb_t;
	')

	allow $1 mydb_usr_lib_mydb_bin_mydb_t:file read_file_perms;
	allow $1 mydb_var_lib_mydb_t:file read_file_perms;
	allow $1 mydb_var_log_mydb_t:file read_file_perms;
	allow $1 mydb_var_run_mydb_sock_t:file read_file_perms;
')

########################################
## <summary>
##	Write mydb files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mydb_write_files',`
	gen_require(`
		type mydb_var_lib_mydb_t;
		type mydb_var_log_mydb_t;
		type mydb_var_run_mydb_sock_t;
	')

	allow $1 mydb_var_lib_mydb_t:file write_file_perms;
	allow $1 mydb_var_log_mydb_t:file write_file_perms;
	allow $1 mydb_var_run_mydb_sock_t:file write_file_perms;
')

########################################
## <summary>
##	Execute mydb files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mydb_exec',`
	gen_require(`
		type mydb_usr_lib_mydb_bin_mydb_t;
	')

	can_exec($1, mydb_usr_lib_mydb_bin_mydb_t)
')

